@use '../custom' as *;
@import 'media-queries';

body {
  min-width: 1440px !important; /* Suppose you want minimum width of 1000px */
  width: auto !important; /* Firefox will set width as auto */
}

//SLIDER
#owl-demo {
  @include mobile {
    max-width: 360px;
  }
  .item {
    display: block;
    width: 100%;
    height: auto;
    img {
      @include media-breakpoint-down(xxl) {
        max-width: 1320px;
      }
      @include media-breakpoint-down(xl) {
        max-width: 1140px;
      }
      @include media-breakpoint-down(lg) {
        max-width: 960px;
      }
      @include media-breakpoint-down(md) {
        max-width: 720px;
      }
      @include media-breakpoint-down(sm) {
        max-width: 330px;
      }
    }
  }

  .owl-dots {
    @include mobile {
      -webkit-transform: scale(0.5);
      transform: scale(0.5); /* you can change the value also */
      -webkit-transform-origin: center;
      transform-origin: center;
      margin-top: -10px;
    }
  }
}

#slider {
  margin-top: 20px;
}

.slider-2 {
  height: 800px;
  @include mobile {
    max-width: 360px;
    margin-top: 10px;
  }
  .slider-2-content {
    position: relative;
    @include mobile {
      position: absolute;
    }
    img {
      position: absolute;
      top: 30px;
      height: auto;
      width: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      @include mobile {
        position: relative;
        top: 50px;
        overflow: hidden;
        width: 100%;
        -webkit-transform: scale(1.5);
        transform: scale(1.5); /* you can change the value also */
        -webkit-transform-origin: center;
        transform-origin: center;
      }
    }

    .wrapper-text {
      margin-top: 90px;
      @include mobile {
        padding: 8px;
      }

      .wrapper-text-left {
        .display-title {
          padding-top: 0;
          font-weight: 700;
          font-size: 48px;
          line-height: 72px;
          @include mobile {
            font-size: 24px;
            padding-top: 0;
            line-height: 36px;
          }
        }
      }

      .wrapper-text-right {
        position: absolute;
        font-weight: 400;

        p {
          @include mobile {
            font-size: 16px;
            line-height: 24px;
          }
        }
      }
    }
  }
}

//Siêu phẩm TOTE
.card-text-box {
  position: relative;
  margin-top: 55px;
  width: 654px;
  height: 319px;
  outline: none;
  background-color: $white;
  border-radius: 15px;
  box-shadow: 0px 6px 36px rgba(0, 0, 0, 0.1);
  .ribbon {
    position: absolute;
    top: -40px;
    left: 10px;
    width: 27px;
    height: 126px;
    background: #fcd4d4;
    transform: rotate(-135deg);
    opacity: 0.7;
  }
  .box-content {
    padding: 32px 0px 32px 75px;

    &__title {
      font-weight: 600;
      font-size: 16px;
    }
    &__body {
      font-weight: 400;
      font-size: 16px;
    }
    &__icons {
      margin-right: 12px;
    }
    &__button {
      width: 170px;
      height: 40px;
      border: none;
      padding: 0;
      background-color: $primary;
      p {
        padding: 8px 29px;
        color: $black;
        font-size: 16px;
        line-height: 24px;
        font-weight: 700;
      }
    }
  }
}

.actionBtn {
  margin-top: 10px;
  height: 40px;
  display: none;

  button {
    width: 100%;
    height: 40px;
    padding: 8px 24px;
    border-radius: 12px;
    border: none;
    outline: none;
    font-size: 1em;
    font-weight: 500;
    background: $primary;
    color: $black;
    cursor: pointer;

    span {
      font-size: 16px;
      font-weight: 700;
    }
  }
}

.card-img {
  &__box {
    position: relative;
    padding: 24px;
    line-height: 28px;
    height: 410px;
    border-radius: 16px;
    background: #ffffff;
    box-shadow: 0px 6px 36px rgba(0, 0, 0, 0.1);
    transition: 0.5s;

    img {
      width: 100%;
    }

    // .shadow {
    //   height: 464px;
    //   display: none;
    // }

    &:hover {
      height: 474px;
      transition: 0.5s;
      .actionBtn {
        display: block;
      }

      // .shadow {
      //   transition: 0.5s;
      // }
    }
  }
  &__title {
    margin-top: 12px;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 0;
  }
  &__price {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 0;
    color: $secondary;
  }
  &__dot {
    display: inline;
  }
  &__dot-1 {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #ef9cd6;
  }
  &__dot-2 {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #85cef2;
  }
  &__dot-3 {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #f4ea88;
  }
  &__dot-4 {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #ffffff;
  }
}

.card-img__list-dot {
  width: 100%;
  display: inline-block;
}

.testimonials {
  a {
    color: $secondary;
    font-weight: 700;
  }
}

.image-slider {
  .image-item {
    width: 269px;
    height: 269px;
    .img {
      width: 100%;
    }
  }
}

//Instagram slider
.slider {
  min-width: 1440px;
  display: flex;

  .owl-stage-outer {
    height: 285px;
  }

  .owl-item {
    width: 285px !important;
    height: 285px !important;
    margin-right: 30px;
  }
  .card {
    background-color: $white;
    border-radius: 16px;
    width: 285px;
    height: 285px;
    padding: 8px;
    flex: 1;
    margin-left: 3px;
  }

  .owl-dots {
    display: none;
  }
}

//danh gia review
* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

.hero {
  width: 100%;
  height: 100vh;
  background: #f6fbff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.review-box {
  width: 90%;
  height: 600px;
  position: relative;
  overflow: hidden;
  margin-left: -25px;
  #slide {
    width: 100%;
    padding-right: 60px;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;

    .review-card {
      opacity: 0.5;
      transition: all 0.3s;
      position: relative;
      z-index: 1;

      &:active {
        opacity: 1;
      }

      .profile {
        display: flex;
        align-items: center;
        img {
          width: 100%;
          border-radius: 50px;
        }
      }
    }
  }

  .button {
    width: 60px;
    height: 100%;
    // padding-top: 15px;
    position: absolute;
    right: 4px;

    top: 43%;

    cursor: pointer;
  }

  h3 {
    font-size: 26px;
    color: #f44336;
    margin-bottom: 8px;
  }
}

// .sidebar img {
//   width: 25px;
//   padding: 5px;
//   border-radius: 50%;
//   cursor: pointer;
// }

::selection {
  background: #f44336;
  color: #fff;
}
