@use '../custom' as *;
@import 'media-queries';

body,
html {
  font-family: 'Roboto', sans-serif;
  background-color: $bg;
}

.navbar-brand {
  img {
    width: 56px;
    height: 56px;

    @include mobile {
      width: 36px;
      height: 36px;
    }
  }
}

#nav {
  @include mobile {
    max-width: 360px;
    height: 70px;
  }
}

.navbar {
  background-color: $bg;
  height: 90px;

  @include mobile {
    max-width: 360px;
    height: 70px;
    background-color: $bg-nav;
  }

  button {
    .closeIcon {
      display: none;
    }
  }

  .navbar-toggler {
    &:focus {
      box-shadow: none !important;
    }
    @include mobile {
    }

    img {
      @include mobile {
        height: 20px;
        width: 20px;
      }
    }
  }

  .navbar-collapse {
    @include mobile {
      position: absolute;
      z-index: 10;
      top: 90px;
      right: 0;
      height: 500px;
      width: 100%;
      background-color: #e5e5e5;
      background-image: url('../../img/image-menu.png');
      background-repeat: no-repeat;
      background-position: center bottom;

      .navbar-nav {
        justify-content: center;
        align-items: center;
        gap: 5px;

        li:nth-child(5) {
          a {
            font-weight: 400;
            font-size: 12px;
          }
        }

        li:nth-child(6) {
          a {
            img:nth-child(2) {
              margin-left: -8px;
            }
          }
        }
      }
    }

    .navbar-nav {
      li {
        position: relative;
        z-index: 1;
        padding: 0 0.7rem;
        @include media-breakpoint-down(lg) {
          padding: 0;
        }
        a {
          position: relative;
          color: $black !important;
          font-weight: 700;

          &:after {
            position: absolute;
            border-radius: 30px;
            content: '';
            left: 0;
            bottom: 12px;
            width: 100%;
            height: 8px;
            background-color: $primary;
            transition: all 0.5s;
            transform: scale(0);
            z-index: -1;
          }
        }

        &:hover {
          a {
            &:after {
              transform: scale(1);
            }
          }
        }
      }
    }
  }

  .nav-icons {
    @include mobile {
      position: absolute;
      right: 60px;
      top: 25px;
      width: 20px;
      height: 20px;
    }
    z-index: 1;
    width: 40px;
    height: 40px;
    background-color: $primary;
    border-radius: 50%;
    outline: none;

    i {
      font-size: 18px;
      @include mobile {
        font-size: 12px;
        transform: translate(50%, -25%);
      }
      color: $black;
      transform: translate(75%, 50%);
    }
    span {
      position: absolute;
      z-index: 2;
      width: 20px;
      height: 20px;
      background-color: $secondary;
      border-radius: 50%;
      border: 0.1rem solid $white;
      transform: translate(50%, -25%);
      @include mobile {
        width: 12px;
        height: 12px;
        transform: translate(25%, -40%);
      }
      b {
        position: absolute;
        transform: translate(77%, -7%);
        color: $white;
        font-size: 12px;
        @include mobile {
          transform: translate(90%, 0%);
          font-size: 6px;
        }
      }
    }
  }
}

//DOTS CAROUSEL
.owl-carousel span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: $white !important;
  display: block;
  -webkit-backface-visibility: visible;
  -webkit-transition: opacity 200ms ease;
  -moz-transition: opacity 200ms ease;
  -ms-transition: opacity 200ms ease;
  -o-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}

.owl-carousel .active span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: $primary !important;
  display: block;
  -webkit-backface-visibility: visible;
  -webkit-transition: opacity 200ms ease;
  -moz-transition: opacity 200ms ease;
  -ms-transition: opacity 200ms ease;
  -o-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
